@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
* {
  font-family:Vollkorn, serif;
  
}
.navbar {
  background-color: #fff;
  height: 100px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-brand {
  width: 83px;
  position: relative;
  margin-inline-start: 20px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  font-family: Vollkorn, serif;
}
.nav-link:hover,
.nav-link.active {
  color: #000;
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link:active::before {
    width: 100%;
    visibility: visible;
  }
}
.hero-section {
  background: url(img/hero-sect-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;

}
.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-section .container{
  height: 100vh;
  z-index: 1;
  position: relative;
  text-align: center;

}
.hero-section h1{
  font-size: 1.5em;
  
}
.hero-section h2{
  font-size: 1.2em;
}
.tpp1{
  width: 30%;
}

.hero-section-first{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/hero-sect-first.jpg');
  background-size: cover;
  background-position: center;
}


.hero-section-first .container{
  height: 150vh;
  z-index: 1;
  position: relative;
  text-align: center;

}
.hero-section-first h2{
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.6);
 
  
}

@media (width  <= 767px) {
  .tpp1{
    width: 50%;
  }
  .hero-section-first{
    flex-direction: column;
    background-size:auto;
    
  }
  .hero-section-first h2{
    margin-top:  600px;
  }
  
}  
@media (width  <= 500px) {
  .tpp1{
    width: 70%;
  }
    
  }
  .hero-section-first h2{
    margin-top:  800px;
  }
  


